.StoreOwnerMainEmpPopup {
    border-radius: 10px;
    border: 1px solid #FF5925;
    background: #FDF8F3;
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-left {
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer {
    margin-bottom: 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-598 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 390px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-21 {
    background: #D9D9D9;
    position: relative;
    margin-right: 35px;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.StoreOwnerMainEmpPopup .SOMEP-profile-select {
    background: url('../../assets/ProfileSelect.png') 50% / cover no-repeat;
    width: 23px;
    height: 23px;
    align-self: center;
}
.StoreOwnerMainEmpPopup .SOMEPframe-592 {
    display: flex;
    flex-direction: column;
    width: 205px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-590 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-bottom: 8px;
    padding: 9px 11px;
    width: 205px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 18px;
}
.StoreOwnerMainEmpPopup .SOMEPframe-589 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-591 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    position: relative;
    padding: 14px 11px;
    width: 205px;
    height: 134px;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 1px;
    font-size: 18px;
    resize: none;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-21 {
    margin: 0 1px;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-menuSelect {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-593 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-120 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FDD2C2;
    margin-right: 13px;
    display: flex;
    padding: 7px 9.2px 7px 9px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-22 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPgroup-111 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-132 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 13px;
    display: flex;
    flex-direction: row;
    padding: 7px 9px 7px 19px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-23 {
    margin-right: 7.4px;
    overflow-wrap: break-word;
    font-weight: 200;
    font-size: 20px;
    color: #D9D9D9;
}
.StoreOwnerMainEmpPopup .SOMEPframe-133 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 7px 8px 7px 19.4px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-24 {
    margin-right: 8.4px;
    overflow-wrap: break-word;
    font-weight: 200;
    font-size: 20px;
    color: #D9D9D9;
}


.StoreOwnerMainEmpPopup .SOMEPframe-259 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-251 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-1 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-253 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-249 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 5.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-2 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-3 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-250 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 3.7px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-4 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-319 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-5 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-260 {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2511 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-6 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2531 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2491 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 5.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-7 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-8 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2501 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 3.7px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-9 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-3191 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-10 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-248 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.4);
    margin-top: 235px;
    display: flex;
    padding: 8px 0.9px 8px 0;
    width: 82px;
    height: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-11 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
    color: #FFFEFE;
}
.StoreOwnerMainEmpPopup .SOMEPline-23 {
    background: #FF5925;
    margin-right: 26px;
    width: 1px;
    height: 680px;
}
.StoreOwnerMainEmpPopup .SOMEPframe-602 {
    margin-bottom: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-595 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-594 {
    margin-right: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPrectangle-108 {
    background: #D9D9D9;
    margin-bottom: 2px;
    width: 112px;
    height: 131px;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-12 {
    margin: 0 14.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.538;
    color: #797979;
}
.container-13 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
}
.container-13-sub31 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 23px;
    line-height: 1.333;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-13 {
    margin-bottom: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 1.053;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-600 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-5941 {
    margin-right: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPrectangle-1081 {
    background: #D9D9D9;
    margin-bottom: 2px;
    width: 112px;
    height: 131px;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-14 {
    margin: 0 14.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.538;
    color: #797979;
}
.container-15 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
}
.container-15-sub31 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 23px;
    line-height: 1.333;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-15 {
    margin-bottom: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 1.053;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-601 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-5942 {
    margin-right: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPrectangle-1082 {
    background: #D9D9D9;
    margin-bottom: 2px;
    width: 112px;
    height: 131px;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-16 {
    margin: 0 14.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.538;
    color: #797979;
}
.container-17 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
}
.container-17-sub31 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 23px;
    line-height: 1.333;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-17 {
    margin-bottom: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 1.053;
    color: #000000;
}



.StoreOwnerMainEmpPopup .SOMEPgroup-89 {
    margin: 3px 0;
    width: 18px;
    height: 18px;
}
.StoreOwnerMainEmpPopup .SOMEPgroup-90 {
    margin: 3px 0;
    width: 18px;
    height: 18px;
}
.StoreOwnerMainEmpPopup .SOMEPframe-134 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 7px 5px 7px 9px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-25 {
    margin: 2px 0.7px 2px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 200;
    font-size: 18px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-597 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPgroup-110 {
    margin-right: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-254 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2512 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-26 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2532 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2492 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 5.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-27 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-28 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2502 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 3.7px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-29 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-3192 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-30 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-255 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2513 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-31 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2533 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2493 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 5.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-32 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-33 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2503 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 3.7px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-34 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-3193 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-35 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-256 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2514 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-36 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2534 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2494 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 5.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-37 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-38 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2504 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 3.7px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-39 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-3194 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-40 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-257 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2515 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-41 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2535 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2495 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 0;
    width: 70px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-42 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-43 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2505 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 0;
    width: 70px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-44 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-3195 {
    border: 1px solid #FF5925;
    background: #FDE3D8;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-45 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-258 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2516 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 4.5px 7.3px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-46 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2536 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2496 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 3px 5.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-47 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-48 {
    margin: 4px 5.5px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-2506 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 3px 3.7px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-49 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-3196 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 6.5px 6.1px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-50 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #FF5925;
}
/*.StoreOwnerMainEmpPopup .SOMEPcontainer {*/
/*    background: #D9D9D9;*/
/*    position: relative;*/
/*    width: 7px;*/
/*    height: 70px;*/
/*}*/

.StoreOwnerMainEmpPopup .SOMEP-time-time-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-254 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-251 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-4 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-253 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-249 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    box-sizing: border-box;
    width: 65px;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-5 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-6 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-250 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    width: 65px;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-7 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-319 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-8 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-551 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-2511 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-9 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}