.StoreOwnerMainTodayReservConfirm .StoreOwnerMainTodayReservConfirm_padding{
    display: flex;
    align-items: center;
}

.StoreOwnerMainTodayReservConfirm .StoreOwnerMainTodayReservConfirm_padding > .StoreOwnerMainTodayReservConfirm {
    width: 800px;
    height: 500px;
    background-color: rgb(255, 242, 231);
    border: solid rgb(255, 177, 113) 4px;
    border-radius: 30px;
    padding: 30px;
}

.StoreOwnerMainTodayReservConfirm .SOMTRC_contents_padding{
    display: flex;
    margin: 20px;
    margin-right: 0;
}

.StoreOwnerMainTodayReservConfirm .SOMTRC_contents {
    width: 680px;
    padding: 20px;
    background-color: antiquewhite;
    border: solid rgb(255, 177, 113) 2px;
    border-radius: 30px;
}

.StoreOwnerMainTodayReservConfirm .SOMTRC_contents > .SOMTRC_content{
    display: flex;
    width: fit-content;
    margin-block: 10px;
}

.StoreOwnerMainTodayReservConfirm .SOMTRC_contents > .SOMTRC_content > .text_right_margin {
    min-width: 80px;
}

.StoreOwnerMainTodayReservConfirm .SOMTRC_contents > #text_middle{
    font-size: 25px;
    font-weight: 550;
}

.StoreOwnerMainTodayReservConfirm .SOMTRC_contents > #text_small{

}

.StoreOwnerMainTodayReservConfirm .StandBy_buttons{
    /* width: 60px; */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.StoreOwnerMainTodayReservConfirm .StandBy_buttons > button{
    margin-bottom: 10px;
    margin-left: 5px;
    background-color: antiquewhite;
    border: solid rgb(255, 177, 113) 2px;
    border-radius: 30px;
    padding-block: 10px;
    padding-inline: 20px;
}


/*신규순 임박순 버튼과 배경*/
.StoreOwnerMainTodayReservConfirm .mb-3 {
    background-color: rgb(255, 242, 231);
}

.StoreOwnerMainTodayReservConfirm .nav-link {
    background: none;
    color: gray;
}

.StoreOwnerMainTodayReservConfirm .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.StoreOwnerMainTodayReservConfirm .tab-content {
    background-color: white;
    height: 90%;
    margin-top: -1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: #dee2e6 solid 1px;
    overflow: scroll;
}