.StoreOwnerMainDetailedPopup {
    width: fit-content;
    margin-right: 0;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-detailed-popup {
    border-radius: 10px;
    border: 1px solid #FF5925;
    background: #FDF8F3;
    display: flex;
    flex-direction: row;
    padding: 24px 19px 21px 19px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-detailed-popup-left {
    margin: 0 50px 6px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-name-space {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 300px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-name-box {
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-main-space {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 4px;
    align-items: flex-start;

    height: 80px;
    box-sizing: border-box;
    font-size: 15px;
    width: 400px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-48 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-main-box {
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-main {
    margin: 5px 7.6px 56px 0;
    display: flex;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-name {
    margin: 4.5px 7.6px 4.5px 0;
    display: flex;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation {
    margin: 0 12px 74px 0;
    display: flex;
    width: 20px;
    height: 21px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-search {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 8px;
    padding: 4px 9px;
    width: 280px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-search-button {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.5);
    display: flex;
    padding: 4px 14px 4px 14px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-address {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-bottom: 5px;
    padding: 4.5px 9px;
    width: 400px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-detailed-address {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 400px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-search-box {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-address-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-box {
    margin: 0 0 14px 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-plus-icon {
    margin: 4px 12px 4px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-plus {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 400px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-plus-box {
    margin: 0 0 14px 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupphone-icon {
    margin: 0 12px 107px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-1 {
    margin: 5px 24.8px 5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupphone-space {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 300px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupinsta-space {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 300px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupkakao-space {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 300px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuph {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupblog-space {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 4px 9px;
    width: 300px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupphone-box {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-2 {
    margin: 5px 11px 5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupinsta-box {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-3 {
    margin: 5px 24.8px 5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupkakao-box {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupblog-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupphones {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupphones-box {
    margin: 0 20px 0 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-detailed-info-pic {
    background: #A7A7A7;
    margin: 0 5px 30px 0;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 56px 0;
    width: 185px;
    height: 135px;
    box-sizing: border-box;

}
.StoreOwnerMainDetailedPopup .DetailedPopupprofile-select {
    background: url('../../assets/ProfileSelect.png') 50% / cover no-repeat;
    width: 23px;
    height: 23px;
}
.StoreOwnerMainDetailedPopup .DetailedPopuptime-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-254 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-251 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-4 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-253 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-249 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    box-sizing: border-box;
    width: 65px;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-5 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-6 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-250 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    width: 65px;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-7 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-319 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-8 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-551 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2511 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-9 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2531 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2491 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 2.5px 14.4px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-10 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-11 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2501 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 2.5px 13.3px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-12 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-3191 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-13 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-552 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2512 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-14 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2532 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2492 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 2.5px 14.4px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-15 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-16 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2502 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 2.5px 13.3px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-17 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-3192 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-18 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-553 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2513 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-19 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2533 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2493 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 2.5px 14.4px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-20 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-21 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2503 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 2.5px 13.3px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-22 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-3193 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-23 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-554 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2514 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-24 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2534 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2494 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 2.5px 14.4px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-25 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-26 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2504 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 2.5px 13.3px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-27 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-3194 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-28 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-5521 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2515 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-29 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2535 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2495 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 2.5px 14.4px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-30 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-31 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2505 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 2.5px 13.3px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-32 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-3195 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-33 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-555 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2516 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-34 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2536 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2496 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    padding: 2.5px 14.4px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-35 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-36 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-2506 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 2.5px 13.3px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-37 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-3196 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-38 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainDetailedPopup .DetailedPopuptime-icon {
    margin: 0 12px 173px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopuptime-box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupstore-detailed-popup-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupmodify-button {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.4);
    display: flex;
    height: fit-content;
    padding: 4px 14.9px 4px 14px;
    box-sizing: border-box;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-41 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 18px;
    color: #FFFEFE;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-42 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 15px;
    color: #D3D3D3;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-43 {
    background: url('../../assets/clockIcon.png') 50% / cover no-repeat;
    width: 20px;
    height: 20px;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-44 {
    background: url('../../assets/callIcon.png') 50% / cover no-repeat;
    width: 20px;
    height: 20px;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-45 {
    background: url('../../assets/naviIcon.png') 50% / cover no-repeat;
    width: 20px;
    height: 20px;
}
.StoreOwnerMainDetailedPopup .DetailedPopuplocation-icon {
    background: url('../../assets/locationIcon.png') 50% / cover no-repeat;
    width: 20px;
    height: 21px;
}
.StoreOwnerMainDetailedPopup .DetailedPopuphttpinstagram {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-46 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-47 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-49 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #D3D3D3;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-50 {
    margin: 5px 9px 5px 0;
    display: inline-block;
    width: 71px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopuphttppf-kakao-com {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-51 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-52 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupcontainer-53 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainDetailedPopup .DetailedPopupframe-575 {
    display: flex;
    height: fit-content;
    width: 300px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-self: flex-end;
}