.StoreOwnerMainEmpPopup {
    border-radius: 10px;
    border: 1px solid #FF5925;
    background: #FDF8F3;
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-left {
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer {
    margin-bottom: 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEPframe-598 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 390px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-21 {
    background: #D9D9D9;
    position: relative;
    margin-right: 35px;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.StoreOwnerMainEmpPopup .SOMEP-profile-select {
    background: url('../../assets/ProfileSelect.png') 50% / cover no-repeat;
    width: 23px;
    height: 23px;
    align-self: center;
}
.StoreOwnerMainEmpPopup .SOMEPframe-592 {
    display: flex;
    flex-direction: column;
    width: 205px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-590 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-bottom: 8px;
    padding: 9px 11px;
    width: 205px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 18px;
}
.StoreOwnerMainEmpPopup .SOMEPframe-589 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-591 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    position: relative;
    padding: 14px 11px;
    width: 205px;
    height: 134px;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 1px;
    font-size: 18px;
    resize: none;
}
.StoreOwnerMainEmpPopup .SOMEPcontainer-21 {
    margin: 0 1px;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-menuSelect {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-593 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-120 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FDD2C2;
    margin-right: 13px;
    display: flex;
    padding: 7px 9px 7px 9px;
    box-sizing: border-box;
    height: 40px;
}
/*.StoreOwnerMainEmpPopup .SOMEP-menuCategSelect {*/
/*    flex-direction: row;*/
/*}*/
.StoreOwnerMainEmpPopup .SOMEPframe-134 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 7px 5px 7px 9px;
    width: 390px;
    height: 86px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-597 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-time-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-254 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-251 {
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.13);
    display: flex;
    padding: 2.5px 4.6px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-4 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-253 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-249 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 5px;
    display: flex;
    box-sizing: border-box;
    width: 65px;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-6 {
    margin: 3.5px 5.1px 3.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-250 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    width: 65px;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-319 {
    border: 1px solid #FF5925;
    background: #FFFFFF;
    display: flex;
    padding: 1.5px 6.2px;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEP-time-container-8 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #FF5925;
}
.StoreOwnerMainEmpPopup .SOMEP-time-frame-551 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}

/*사용*/
.StoreOwnerMainEmpPopup .SOMEPframe-248 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: rgba(255, 89, 37, 0.4);
    margin-top: 235px;
    display: flex;
    padding: 8px 0 8px 0;
    width: 82px;
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 18px;
    color: #FFFEFE;
}
.StoreOwnerMainEmpPopup .SOMEPline-23 {
    background: #FF5925;
    margin-right: 26px;
    width: 1px;
    height: 680px;
}
.StoreOwnerMainEmpPopup .SOMEPframe-602 {
    margin-bottom: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-595 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPframe-594 {
    margin-right: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerMainEmpPopup .SOMEPrectangle-108 {
    background: #D9D9D9;
    margin-bottom: 2px;
    width: 112px;
    height: 131px;
}
.StoreOwnerMainEmpPopup .SOMEP-MdDl {
    flex-direction: row;
}
.StoreOwnerMainEmpPopup .SOMEP-modify, .SOMEP-delete {
    margin: 0 5px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.538;
    color: #797979;
    border: 0;
    background: #FDF8F3;
}
.StoreOwnerMainEmpPopup .SOMEP-empInfoBox {
    flex-direction: column;
    width: 250px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.StoreOwnerMainEmpPopup .SOMEP-EIB-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.StoreOwnerMainEmpPopup .SOMEP-EIB-Info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
