.StoreOwnerMainMenuPopup {
    width: fit-content;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
}

.StoreOwnerMainMenuPopup .mb-3 {
    background-color: #FDF8F3;
    width: fit-content;
    height: fit-content;
}