/* body {
    background-color: #8d9f8b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.calendar-container {
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #e2a368;
}

.calendar-header button {
    background-color: #e2a368; 
    color: white; /* 텍스트 색상 */
    padding: 10px 20px; /* 상하, 좌우 패딩 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s; /* 호버 효과 */
  }
  
  .calendar-header button:hover {
    background-color: #e57239f1; /* 버튼 호버 시 색상 변경 */
  }
  
  .calendar-header h1 {
    /* font-family: 'yg-jalnan'; */
    display: inline; /* 헤더와 버튼을 같은 줄에 표시 */
    margin: 0 20px; /* 헤더 주변 여백 */
  }
  

.calendar-body {
    font-size: 30px;
    padding: 10px;
    background-color: #f7f7f7;
}

.calendar-days, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-days div {
    text-align: center;
    font-weight: bold;
}

.calendar-dates {
    font-size: 25px;
}

.calendar-dates div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.calendar-dates div.has-note::after {
    content: '';
    width: 10px;
    height: 10px;
    
    background-color: rgb(204, 123, 123);
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
}

.hidden {
    display: none;
}

/* .selected-dates {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
} */

.selected-dates > ul > li{
    list-style-type: none;
}

/* .note-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    padding: 10px;
} */

/* textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-style: none;
    background-color: #c7d6e7;
    border-radius: 3px;
} */
