.DetailedStoreInfo {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FDF8F3;
}
.DetailedStoreInfoBack {
    display: flex;
    justify-content: center;
}
.DetailedStoreInfo .component-review {
    width: 200px;
    height: auto;
    text-align: left;
    margin-right: 25px;
    margin-bottom: 20px;
}
.DetailedStoreInfo .container {
    background: #FDF8F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    width: 1440px;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-storeInfo {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 43px;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    width: 800px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-1 {
    border-radius: 30px;
    background: url('../../assets/storeimg_jjhair.png') 50% / cover no-repeat;
    margin: 8.5px 28px 8.5px 0;
    width: 300px;
    height: 225px;
}
.DetailedStoreInfo .frame-102 {
    /*display: flex;*/
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    text-align: center;
}
.DetailedStoreInfo .container-2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    /*align-self: flex-start;*/
    width: 440px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-3 {
    max-width: 120px;
    width: fit-content;
    margin-right: 10px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-name {
    margin: 0 10px 0 0;
    max-width: 120px;
    width: fit-content;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-5 {
    margin: 2px 10px 2px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    width: 165px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.DetailedStoreInfo .container-6 {
    margin: 2px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .container-7 {
    margin-bottom: 10px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .frame-107 {
    border-radius: 5px;
    background: #E7E7E7;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 10px 8px 10px 8px;
}
.DetailedStoreInfo .frame-103 {
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .DetailedStoreInfoIcon {
    background: url('../../assets/locationIcon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
.DetailedStoreInfo .container-8 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
.DetailedStoreInfo .frame-104 {
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-9 {
    background: url('../../assets/naviIcon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
.DetailedStoreInfo .container-10 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
.DetailedStoreInfo .frame-105 {
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-11 {
    background: url('../../assets/callIcon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
.DetailedStoreInfo .container-12 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333;
    color: #300EFF;
}
.DetailedStoreInfo .container-12-sub17 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333;
}
.DetailedStoreInfo .container-12 {
    margin: 1.5px 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
.DetailedStoreInfo .frame-106 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-13 {
    background: url('../../assets/clockIcon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
.DetailedStoreInfo .container-14 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
.DetailedStoreInfo .frame-283 {
    margin: 0 13px;
    display: flex;
    width: 386px;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-reservationButton {
    border-radius: 10px;
    border: 0;
    background: #FF5925;
    margin: 0 10px;
    width: 386px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-15 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 50px;
    font-size: 25px;
    color: #FFFFFF;
}
.DetailedStoreInfo .frame-115 {
    display: grid;
    place-items: center;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-menu {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 62px 30px 60px;
    width: 1000px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-boxTitle {
    margin-bottom: 20px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-menuBoxName {
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-menuBox {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-menu {
    margin-right: 25px;
    margin-bottom: 20px;
    width: 200px;
    height: 224px;
    text-align: left;
}
.DetailedStoreInfo .frame-425 {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-172 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-182 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-192 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-202 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-employee {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 60px 30px 60px;
    width: 1000px;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-empBox {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-emp {
    width: 200px;
    height: 224px;
    text-align: left;
    margin-right: 25px;
    margin-bottom: 20px;
}
.DetailedStoreInfo .frame-review {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px 60px 30px 60px;
    width: 1000px;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-reviewTitle {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-reviewPlus {
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #7B7B7B;
}
.DetailedStoreInfo .frame-reviewBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}
/*여기부터 헤더??*/
.DetailedStoreInfo .header-inner {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    padding: 0 30.8px 0 40px;
    width: 1440px;
    box-sizing: border-box;
}
.DetailedStoreInfo .header-inner-left {
    margin-right: 44px;
    display: flex;
    flex-direction: row;
    width: 626px;
    box-sizing: border-box;
}
.DetailedStoreInfo .logo-goto-home {
    margin: 2.5px 55px 2.5px 0;
    display: flex;
    width: 119px;
    height: 60px;
    box-sizing: border-box;
}
.DetailedStoreInfo .image-13 {
    border-radius: 23px;
    background: url('../../assets/booksly_logo.png') 50% / cover no-repeat;
    width: 119px;
    height: 60px;
}
.DetailedStoreInfo .header-buttons {
    display: flex;
    flex-direction: row;
    width: 452px;
    box-sizing: border-box;
}
.DetailedStoreInfo .nav-box {
    background: #FFFFFF;
    margin-right: 10px;
    display: flex;
    padding: 13.5px 0;
    width: 144px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-131 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9;
    color: #000000;
}
.DetailedStoreInfo .frame-286 {
    border-bottom: 4px solid #FF5925;
    display: flex;
    padding: 10px 10.4px 6px 10px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-132 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9;
    color: #000000;
}
.DetailedStoreInfo .container-133 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9;
    color: #000000;
}
.DetailedStoreInfo .nav-box-1 {
    background: #FFFFFF;
    margin-right: 10px;
    display: flex;
    padding: 23.5px 0.4px 23.5px 0;
    width: 144px;
    box-sizing: border-box;
}
.DetailedStoreInfo .nav-box-2 {
    background: #FFFFFF;
    display: flex;
    padding: 23.5px 0.4px 23.5px 0;
    width: 144px;
    box-sizing: border-box;
}
.DetailedStoreInfo .search-border {
    border-radius: 30px;
    border: 2px solid #FF5925;
    margin: 12.5px 64px 12.5px 0;
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 13px;
    width: 286px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .icon-search {
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .vector {
    width: 30px;
    height: 30px;
}
.DetailedStoreInfo .input-search {
    width: 246px;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-23 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    color: #777777;
}
.DetailedStoreInfo .header-inner-right {
    margin: 21.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 349.2px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .goto-mypage {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.DetailedStoreInfo .icon-home {
    margin: 1px 10px 1px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.DetailedStoreInfo .vector-1 {
    width: 20px;
    height: 20px;
}
.DetailedStoreInfo .go-mypage {
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .my-page {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .notice-todo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.DetailedStoreInfo .icon-alect {
    margin: 1px 10px 1px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-24 {
    background: url('../../assets/alarm_button.png') 50% / cover no-repeat;
    width: 20px;
    height: 20px;
}
.DetailedStoreInfo .user-id {
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-25 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .log-out-but {
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-26 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
/*여기까지 헤더...?*/
.DetailedStoreInfo .container-menuBox {
    display: flex;
    flex-direction: row;
    width: 925px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.DetailedStoreInfo .rectangle-review {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 7px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-rvNameScore {
    margin-bottom: 7px;
    flex-direction: row;
    align-self: flex-start;
    width: 200px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-rvName {
    margin-right: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-rvPipe {
    margin-right: 5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-rvScore {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-rvMenuInfo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-rvMenu {
    margin-bottom: 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-rvMenuTitle {
    margin-right: 5px;
}
.DetailedStoreInfo .container-rvMenuName {
    margin-left: 5px;
}
.DetailedStoreInfo .container-rvInfo {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-menu {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 7px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-menuNamePrice {
    margin-bottom: 7px;
    flex-direction: row;
    align-self: flex-start;
    max-width: 200px;
    box-sizing: border-box;
    white-space: nowrap; /* 텍스트를 한 줄로 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis
}
.DetailedStoreInfo .container-menuName {
    margin-right: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-menuPipe {
    margin-right: 5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-menuPrice {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-menuInfo {
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-menuInfo {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14913 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 8px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10913 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-87 {
    margin: 1.5px 5.3px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-88 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-89 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11113 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-90 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14914 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 8px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10914 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-91 {
    margin: 1.5px 5.1px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-92 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-93 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11114 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-94 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14915 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 7px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10915 {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-95 {
    margin: 1.5px 5.1px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-96 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-97 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11115 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-98 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14916 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 7px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10916 {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-99 {
    margin: 1.5px 5.1px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-100 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-101 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11116 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-102 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14917 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 7px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10917 {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-103 {
    margin: 1.5px 5.1px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-104 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-105 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11117 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-106 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14918 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 8px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10918 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-107 {
    margin: 1.5px 5.6px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-108 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-109 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11118 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-110 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14919 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 8px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10919 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-111 {
    margin: 1.5px 5.1px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-112 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-113 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11119 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-114 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14920 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 8px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10920 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-115 {
    margin: 1.5px 5.1px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-116 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-117 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11120 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-118 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14921 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 8px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-10921 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-119 {
    margin: 1.5px 5.4px 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-120 {
    margin-right: 5.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-121 {
    margin: 1.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-11121 {
    margin-right: 10.2px;
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-122 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-emp {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 7px;
    width: 200px;
    height: 150px;
}
.DetailedStoreInfo .frame-empNameRv {
    margin-bottom: 7px;
    flex-direction: row;
    align-self: flex-start;
    width: 200px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-empName {
    margin-right: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .container-empPipe {
    margin-right: 5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-empRv {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.DetailedStoreInfo .frame-empInfo {
    display: flex;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-empInfo {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .container-4 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    width: fit-content;
    box-sizing: border-box;
}