.hot-place-padding {
    /* background: #FF9090; */
    width: 1440px;
    height: auto;
    /* margin-bottom: 30px; */
}
.recommand-title{
    margin-block-end: 5px;
    margin-left: 50px;
    margin-top: 50px;
}

