.kk {
    width: 800px;
    height: 400px;
    background-color: white;
    background-image: url('../../../assets/storeimg_jjhair.png');
    background-repeat: no-repeat;
    background-size: 120% 120%;
    background-position: center;
    margin: auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-end;
}