.MyHomeCurrReserv {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FFFFFF;
}
.MyHomeCurrReservBack {
    display: flex;
    justify-content: center;
}
.MyHomeCurrReserv .containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 100px;*/
    box-sizing: border-box;
}
.MyHomeCurrReserv .MyHomeCurrReservContainer {
    margin-top: 2px;
    display: flex;
    background: #FDF8F3;
    justify-content: center;
    width: 1190px;
    height: fit-content;
    padding-top: 50px;
}
.MyHomeCurrReserv .Content {
    height: fit-content;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.MyHomeCurrReserv .sortingBox {
    margin: 0 5px 13px 5px;
    display: flex;
    flex-direction: row;
    /*align-self: flex-start;*/
    justify-content: flex-end;
    width: 930px;
    box-sizing: border-box;
}
.MyHomeCurrReserv .sortBox {
    width: 170px;
}
.MyHomeCurrReserv .reservList {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .currentReservBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .storeInfoFrame {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .storeProfile {
    border-radius: 30px;
    background: url('../../assets/StoreProfile.png') 50% / cover no-repeat;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}
.MyHomeCurrReserv .storeInfoTime {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.MyHomeCurrReserv .storeInfoList {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .storeInfo {
    margin-right: 15px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeCurrReserv .storePartition {
    margin-right: 15px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeCurrReserv .regularSign {
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeCurrReserv .reservInfo {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .reservDate {
    margin-right: 10px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeCurrReserv .reservTime {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeCurrReserv .reservFrame {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .EmpBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeCurrReserv .EmpNameTime {
    margin-bottom: 10px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeCurrReserv .EmpName {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    margin-right: 5px;
}
.MyHomeCurrReserv .EmpTime {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeCurrReserv .reservBoxLine {
    background: #D0D0D0;
    width: 770px;
    height: 2px;
}
.MyHomeCurrReserv .reservContent {
    margin-bottom: 15px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeCurrReserv .reservMenuList {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeCurrReserv .cancelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeCurrReserv .container {
    border-radius: 5px;
    margin: 0 105px;
    display: flex;
    width: 170px;
    box-sizing: border-box;
}
