.MyHomeRegularStore {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FFFFFF;
}
.MyHomeRegularStoreBack {
    display: flex;
    justify-content: center;
}
.MyHomeRegularStore .containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 100px;*/
    box-sizing: border-box;
}
.MyHomeRegularStore .MyHomeRegularStoreContainer {
    margin-top: 2px;
    display: flex;
    background: #FDF8F3;
    justify-content: center;
    width: 1190px;
    height: 885px;
    padding-top: 50px;
}
.MyHomeRegularStore .RegularStoreList {
    height: fit-content;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.MyHomeRegularStore .RegularStoreContainer {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    width: 780px;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeRegularStore .RegularStoreProfileInfo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.MyHomeRegularStore .RegularStoreProfile {
    border-radius: 30px;
    background: url('../../assets/RegularStoreProfile.png') 50% / cover no-repeat;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}
.MyHomeRegularStore .RegularStoreInfo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 60px;
}
.MyHomeRegularStore .regularSign {
    margin-right: 15px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}
.MyHomeRegularStore .StoreInfo {
    margin: 20px 15px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeRegularStore .partition {
    margin: 18px 15px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.MyHomeRegularStore .ButtonFrame {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.MyHomeRegularStore .reservationButton {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFEEE9;
    margin-right: 15px;
    display: flex;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
}
.MyHomeRegularStore .buttonName {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 18px;
    color: #FF5925;
}
.MyHomeRegularStore .InquiryButton {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFEEE9;
    display: flex;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
}