.StandByReservations_padding{
    display: flex;
    align-items: center;
}

.StandByReservations_padding > .StandByReservations {
    width: 800px;
    height: 500px;
    background-color: rgb(255, 242, 231);
    border: solid rgb(255, 177, 113) 4px;
    border-radius: 30px;
    padding: 30px;
}

.mb-3 {
    background-color: rgb(255, 242, 231);
}

.nav-link {
    background: none;
    color: gray;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.tab-content {
    background-color: white;
    height: 90%;
    margin-top: -1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: #dee2e6 solid 1px;
}