.StoreOwnerSetting {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FFFFFF;
}
.StoreOwnerSettingBack {
    display: flex;
    justify-content: center;
}
.StoreOwnerSetting .SOScontainerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer {
    display: flex;
    margin-top: 2px;
    width: 1190px;
    background: #FDF8F3;
    justify-content: center;
    align-items: center;
    height: 850px;
    flex-direction: column;
}
.StoreOwnerSetting .SOSBox {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    width: 800px;
    height: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-666 {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOS-modify-buttonBox {
    margin-top: 20px;
    align-items: flex-end;
    width: 600px;
    justify-content: center;
}
.StoreOwnerSetting .SOS-modify-button {
    justify-content: center;
    border: 0;
    background: #FFFFFF;
    font-size: 20px;
}
.StoreOwnerSetting .SOScontainer-1 {
    margin-bottom: 11px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.StoreOwnerSetting .SOSframe-394 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 7px 13px 9px 13px;
    width: 500px;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-2 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 18px;
    color: #D3D3D3;
}
.StoreOwnerSetting .SOSframe-395 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 7px 13px 9px 13px;
    width: 500px;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-3 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 18px;
    color: #D3D3D3;
}
.StoreOwnerSetting .SOScontainer-4 {
    margin: 8px 14px 8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}
.StoreOwnerSetting .SOScontainer-5 {
    margin: 8px 32.4px 8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}
.StoreOwnerSetting .SOSframe-396 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 10px;
    padding: 8px 14px;
    width: 400px;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-6 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 18px;
    color: #D3D3D3;
}
.StoreOwnerSetting .SOSframe-398 {
    border-radius: 5px;
    background: #FF5925;
    display: flex;
    width: 107px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-7 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}
.StoreOwnerSetting .SOSframe-399 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    display: flex;
    /*padding: 9.5px 0.1px 9.5px 0;*/
    width: 107px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.StoreOwnerSetting .SOScontainer-8 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 16px;
    color: #FF5925;
}
.StoreOwnerSetting .SOSframe-400 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 8px 14px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSemailbooksly-co-kr {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 18px;
    color: #D3D3D3;
}
.StoreOwnerSetting .SOScontainer-9 {
    margin-bottom: 11px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
}
.StoreOwnerSetting .SOScontainer-10 {
    margin-bottom: 11px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
}
.StoreOwnerSetting .SOSframe-397 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 10px;
    padding: 8px 14px;
    width: 400px;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-11 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 18px;
    color: #D3D3D3;
}
.StoreOwnerSetting .SOSframe-420 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-418 {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    padding: 10px 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-12 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
    color: #111111;
}
.StoreOwnerSetting .SOSframe-419 {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    padding: 10px 20px;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOScontainer-13 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
}
.StoreOwnerSetting .SOSframe-657 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-658 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-659 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-660 {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-661 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-662 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-663 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-664 {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.StoreOwnerSetting .SOSframe-665 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
