.DetailedStoreInfo .container {
    background: #FDF8F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 52px;
    /*width: 1440px;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-108 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin: 0 70px 46px 70px;
    display: flex;
    flex-direction: row;
    padding: 30px 50px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-1 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: url('../assets/storeimg.png') 50% / cover no-repeat;
    margin-right: 28px;
    width: 451px;
    height: 375px;
}
.DetailedStoreInfo .frame-102 {
    margin: 17px 0;
    display: flex;
    flex-direction: column;
    width: 721px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-2 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-3 {
    margin-right: 10.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .container-4 {
    margin-right: 10.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .container-5 {
    margin: 6px 10.1px 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-6 {
    margin: 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-7 {
    margin: 0 72px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
}
.DetailedStoreInfo .frame-107 {
    border-radius: 5px;
    background: #E7E7E7;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 24px 20px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-103 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .icon {
    background: url('../assets/locaicon.png') 50% / cover no-repeat;
    margin: 0 10px 0.5px 0;
    width: 20px;
    height: 21px;
}
.DetailedStoreInfo .container-8 {
    margin-top: 3.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .frame-104 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-9 {
    background: url('../assets/naviicon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.DetailedStoreInfo .container-10 {
    margin: 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .frame-105 {
    margin-bottom: 12.5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-11 {
    background: url('../assets/phonenumicon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.container-12 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #300EFF;
}
.DetailedStoreInfo .container-12 {
    margin: 1px 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .frame-106 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-13 {
    background: url('../assets/timeicon.png') 50% / cover no-repeat;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.DetailedStoreInfo .container-14 {
    margin: 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.DetailedStoreInfo .frame-283 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 405px;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-262 {
    border-radius: 10px;
    background: #FF5925;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0.6px 10px 0;
    width: 405px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-15 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}
.DetailedStoreInfo .frame-115 {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-113 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 113px 30px 112px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-423 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-16 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .frame-426 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-17 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .frame-112 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .component-17 {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-18 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-424 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-18 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .frame-425 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .component-171 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-181 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-19 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-427 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-19 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .frame-428 {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .component-172 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-182 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-191 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-201 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-114 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 112px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-20 {
    margin-bottom: 40px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .frame-1121 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .component-173 {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-183 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1151 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px 113px 310px 112px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-153 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 267.5px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-21 {
    margin-right: 18px;
    width: 133px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .container-22 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #7B7B7B;
}
.DetailedStoreInfo .frame-1122 {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .component-174 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .rectangle-149 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-110 {
    position: relative;
    margin-right: 17.5px;
    padding: 0 5px 91px 5px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-109 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-23 {
    margin-right: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-24 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-25 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-111 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-26 {
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-27 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .component-184 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-192 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .component-202 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-28 {
    border-bottom: 3px solid #777777;
    background: #FFFFFF;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    padding: 43px 29.4px 43px 29px;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .rectangle-1491 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1101 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1091 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-29 {
    margin-right: 5.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-30 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-31 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1111 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-32 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1492 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1102 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1092 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-33 {
    margin-right: 5.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-34 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-35 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1112 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-36 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1493 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1103 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1093 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-37 {
    margin-right: 5.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-38 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-39 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1113 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-40 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1494 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1104 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1094 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-41 {
    margin-right: 5.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-42 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-43 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1114 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-44 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1495 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1105 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1095 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-45 {
    margin-right: 5.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-46 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-47 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1115 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-48 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1496 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1106 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1096 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-49 {
    margin-right: 5.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-50 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-51 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1116 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-52 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1497 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1107 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1097 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-53 {
    margin-right: 5.2px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-54 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-55 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1117 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-56 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1498 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1108 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1098 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-57 {
    margin-right: 5.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-58 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-59 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1118 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-60 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-1499 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-1109 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-1099 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-61 {
    margin-right: 5.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-62 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-63 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-1119 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-64 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14910 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-11010 {
    margin-right: 15.3px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-10910 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-65 {
    margin-right: 5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-66 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-67 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-11110 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-68 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14911 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-11011 {
    margin-right: 6.8px;
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-10911 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-69 {
    margin-right: 5.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-70 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-71 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-11111 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-72 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14912 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-11012 {
    margin-right: 6.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-10912 {
    margin: 0 13.9px 15px 0;
    display: flex;
    flex-direction: row;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-73 {
    margin-right: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-74 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-75 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-11112 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-76 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14913 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-11013 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-10913 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-77 {
    margin-right: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-78 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-79 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-11113 {
    margin-right: 17.9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-80 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14914 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-11014 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-10914 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-81 {
    margin-right: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-82 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-83 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-11114 {
    margin-right: 17.9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-84 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .rectangle-14915 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
}
.DetailedStoreInfo .frame-11015 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .frame-10915 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    /*width: fit-content;*/
    box-sizing: border-box;
}
.DetailedStoreInfo .container-85 {
    margin-right: 6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-86 {
    margin-right: 5.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-87 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .frame-11115 {
    margin-right: 17.9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-88 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.DetailedStoreInfo .container-89 {
    margin: 2px 55.6px 2px 0;
    display: flex;
    flex-direction: row;
    width: 632.4px;
    height: fit-content;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-90 {
    margin: 6.5px 30px 6.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    height: 43.1px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-91 {
    background: url('../assets/booksly_logo.png') 50% / cover no-repeat;
    width: 100px;
    height: 43.1px;
}
.DetailedStoreInfo .container-92 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 502.4px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-93 {
    border-bottom: 6px solid #FF5925;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10.6px 10px 10px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-94 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .container-95 {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-96 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .container-97 {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-98 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.DetailedStoreInfo .container-99 {
    background: #FFF2F2;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    padding: 8px 10px 8px 20px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-100 {
    margin: 7px 20px 7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.DetailedStoreInfo .vector {
    width: 30px;
    height: 30px;
}
.DetailedStoreInfo .container-101 {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10.3px 10px 10px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-102 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #777777;
}
.DetailedStoreInfo .container-103 {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-104 {
    margin-right: 15.8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-105 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.DetailedStoreInfo .vector-1 {
    width: 30px;
    height: 30px;
}
.DetailedStoreInfo .container-106 {
    margin: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-107 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-108 {
    position: relative;
    margin-right: 15.4px;
    width: 123.6px;
    height: 30px;
}
.DetailedStoreInfo .container-109 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-110 {
    background: url('../assets/bellicon.png') 50% / cover no-repeat;
    width: 30px;
    height: 30px;
}
.DetailedStoreInfo .container-111 {
    position: absolute;
    right: 0px;
    bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-112 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.DetailedStoreInfo .container-113 {
    margin: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.DetailedStoreInfo .container-114 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}