@import "react-day-picker/dist/style.css";

.my-selected:not([disabled]) {
  font-weight: bold;
  border: 2px solid #ffa8a8;
  border-radius: 50%;
  background-color: #ffa8a8;
  color: white;
}

.my-selected:hover:not([disabled]) {
  border-color: #ffa8a8;
  background-color: #ffa8a8;
  color: white;
}

.my-today {
  font-weight: bold;
  color: #d32f2f;
}
