.RegionSelectionPopup {
  /*position: absolute;*/
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #ffffff;
}
.RegionSelectionPopupBack {
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background: #ffffff;
}
.RegionSelectionPopupcontainer {
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 1035px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-204 {
  border: 4px solid #acacac;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 6px 6.7px 6px 6px;
  width: fit-content;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-324 {
  margin-right: 10.6px;
  display: flex;
  box-sizing: border-box;
}
.RegionSelectionPopup .container-1 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.RegionSelectionPopup .frame-325 {
  display: flex;
  box-sizing: border-box;
}
.RegionSelectionPopup .container-2 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.RegionSelectionPopup .frame-171 {
  background: #fff2f2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  box-sizing: border-box;
}
.RegionSelectionPopup .icon {
  background: url("../../assets/locationIcon.png") 50% / cover no-repeat;
  margin: 7.5px 10px 7.5px 0;
  width: 25px;
  height: 25px;
}
.RegionSelectionPopup .frame-168 {
  background: #ffffff;
  padding: 9.5px 15px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .container-3 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.RegionSelectionPopup .frame-192 {
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-170 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-177 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-1711 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-172 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-173 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-174 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-175 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-176 {
  border-bottom: 3px solid #777777;
  background: #ffffff;
  padding: 15px 20px 12px 20px;
  width: 885px;
  box-sizing: border-box;
}
.RegionSelectionPopup .frame-587 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.RegionSelectionPopup .container-4 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-5 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-6 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-7 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-8 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-9 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-10 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.RegionSelectionPopup .container-11 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
