.StoreSearchPage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #fdf8f3;
}
.StoreSearchPageBack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.StoreSearchPageContainer {
  background: #fdf8f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 106px;
  width: 1440px;
  box-sizing: border-box;
  margin-top: 100px;
}
.StoreSearchPage .container-36 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .select-option-padding {
  margin: 0 25px 30px 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .before-region {
  margin-bottom: 15px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  padding: 10px 15px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  border: none;
  cursor: pointer;
}
.PopupCloseButton {
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
.StoreSearchPage .container-5 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  border: none;
  background: none;
  cursor: pointer;
}
.StoreSearchPage .before-day-and-time {
  margin-bottom: 15px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .frame-dateselect {
  margin-right: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  padding: 10px 15.5px 10px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .content-dateselect {
  overflow-wrap: break-word;
  background: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-timeselect {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  padding: 10px 15.5px 10px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .content-timeselect {
  overflow-wrap: break-word;
  background: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .before-category {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .frame-247 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-156 {
  margin: 5.1px 5.4px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-82 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-155 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-83 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-240 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1561 {
  margin: 5.1px 5.4px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-84 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1551 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-85 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-241 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1562 {
  margin: 5.1px 5.4px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-86 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1552 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-87 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-242 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1563 {
  margin: 5.1px 5.6px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-88 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1553 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-89 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-243 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1564 {
  margin: 5.1px 5.7px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-90 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1554 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-91 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-244 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1565 {
  margin: 5.1px 5.8px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-92 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1555 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-93 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-245 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1566 {
  margin: 5.1px 5.5px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-94 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1556 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-95 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .frame-248 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff2f2;
  display: flex;
  flex-direction: row;
  padding: 4.9px 5px 4.9px 15px;
  box-sizing: border-box;
}
.StoreSearchPage .frame-1567 {
  margin: 5.1px 5.4px 5.1px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-96 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .frame-1557 {
  display: flex;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.StoreSearchPage .container-97 {
  background: url("../../assets/plus_button.png") 50% / cover no-repeat;
  transform: rotate(-45deg);
  width: 28.3px;
  height: 28.3px;
}
.StoreSearchPage .container-3 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .top-100-list {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  width: 1000px;
  height: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .top-test {
  margin: 0 0.7px 20px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .top-100 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.StoreSearchPage .research-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result-1 {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result-2 {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result-3 {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result-4 {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result-5 {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .research-result-6 {
  border-top: 2px solid #b4b4b4;
  border-bottom: 2px solid #b4b4b4;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 30px;
  width: 900px;
  box-sizing: border-box;
}
.StoreSearchPage .store-info-padding {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-287 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-40 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-41 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-1 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-42 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-43 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-44 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-45 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .store-info-padding-1 {
  margin: 7.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-2871 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos-2 {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-46 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-47 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-3 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-48 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names-1 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-49 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but-1 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-50 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but-1 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-51 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .store-info-padding-2 {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-2872 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos-4 {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-52 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-53 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-5 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-54 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names-2 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-55 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but-2 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-56 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but-2 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-57 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .store-info-padding-3 {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-2873 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos-6 {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-58 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-59 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-7 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-60 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names-3 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-61 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but-3 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-62 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but-3 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-63 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .store-info-padding-4 {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-2874 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos-8 {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-64 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-65 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-9 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-66 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names-4 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-67 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but-4 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-68 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but-4 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-69 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .store-info-padding-5 {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-2875 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos-10 {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-70 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-71 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-11 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-72 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names-5 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-73 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but-5 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-74 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but-5 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-75 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .store-info-padding-6 {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreSearchPage .frame-2876 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreSearchPage .store-infos-12 {
  margin-right: 10.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreSearchPage .container-76 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .container-77 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreSearchPage .store-infos-13 {
  margin: 3.5px 0;
  display: flex;
  box-sizing: border-box;
}
.StoreSearchPage .container-78 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.StoreSearchPage .mene-names-6 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreSearchPage .container-79 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreSearchPage .reserve-look-buts-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreSearchPage .reserve-but-6 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-80 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
.StoreSearchPage .look-store-but-6 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffeee9;
  display: flex;
  padding: 5px 5.8px 5px 5px;
  box-sizing: border-box;
}
.StoreSearchPage .container-81 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #ff5925;
}
