.CustomerLoginPage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #ffffff;
}
.CustomerLoginPageBack {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CustomerLoginPage .CustomerLoginPageContainer {
  margin-left: 150px;
  margin-right: 150px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.CustomerLoginPage .loginBox {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.CustomerLoginPage .frame-10 {
  margin: 0 0 94px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  box-sizing: border-box;
}
.CustomerLoginPage .Customer {
  margin-right: 30px;
  margin-left: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.CustomerLoginPage .StoreOwner {
  margin-left: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.CustomerLoginPage .line-5 {
  background: #ff5925;
  margin: 0 186px 3px 44px;
  width: 100px;
  height: 5px;
}
.CustomerLoginPage .line-6 {
  background: #d3d3d3;
  margin: 10px 18px 6px 0;
  width: 106px;
  height: 2px;
}
.CustomerLoginPage .line-7 {
  margin: 8px 0;
  width: 106px;
  height: 2px;
}
.CustomerLoginPage .container-4 {
  margin-right: 18.3px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.CustomerLoginPage .Naver_Frame {
  border-radius: 25px;
  background: #00ff85;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.8px 11.8px 11.8px 11.8px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.CustomerLoginPage .N_Logo {
  width: 40px;
  height: 40px;
}
.CustomerLoginPage .Kakao_Frame {
  border-radius: 25px;
  background: #fff500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15.3px 13.6px 13.8px 13.6px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.CustomerLoginPage .Kakao_Logo {
  width: 50px;
  height: 50px;
}
.CustomerLoginPage .frame-14 {
  border-radius: 25px;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.CustomerLoginPage .Google_Logo {
  width: 50px;
  height: 50px;
}
.CustomerLoginPage .container-2 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.CustomerLoginPage .Logo_Container {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  width: 250px;
  box-sizing: border-box;
}
.CustomerLoginPage .rectangle-7 {
  width: 710px;
  height: 955px;
}
