.CustomerMemRegist1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #ffffff;
}
.CustomerMemRegist1Back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CustomerMemRegist1 .rectangle-7 {
  width: 710px;
  height: 955px;
}
.CustomerMemRegist1 .frame-511 {
  margin: 306px 155px 339.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
  height: fit-content;
  box-sizing: border-box;
}
.CustomerMemRegist1 .frame-510 {
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 174px;
  box-sizing: border-box;
}
.CustomerMemRegist1 .line-5 {
  background: #ff5915;
  margin-bottom: 3px;
  width: 91px;
  height: 5px;
}
.CustomerMemRegist1 .frame-10 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 174px;
  box-sizing: border-box;
}
.CustomerMemRegist1 .container-1 {
  margin-right: 15px;
  width: 167px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.CustomerMemRegist1 .frame-77 {
  margin-bottom: 148.5px;
  display: flex;
  width: 410px;
  box-sizing: border-box;
}
.CustomerMemRegist1 .frame-406 {
  border-radius: 5px;
  border: 1px solid #ff5915;
  background: #ffffff;
  display: flex;
  padding: 13px 0.4px 13px 0;
  width: 410px;
  height: fit-content;
  box-sizing: border-box;
}
.CustomerMemRegist1 .container-3 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.CustomerMemRegist1 .frame-109 {
  margin-right: 1.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.CustomerMemRegist1 .container-4 {
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.CustomerMemRegist1 .container-5 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

.CustomerMemRegist1 .vector {
  width: 10px;
  height: 10px;
}
.CustomerMemRegist1 .container {
  display: flex;
  flex-direction: row;
  width: 700px;
  box-sizing: border-box;
  background: #ffffff;
}
.CustomerMemRegist1 .container-7 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 10px;
  line-height: 0.9;
  color: #000000;
}
