.StoreRegist {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  background: #fdf8f3;
}
.StoreRegistBack {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.StoreRegist .SR-allcontentcontainer {
  display: flex;
  flex-direction: row;
  width: 1440px;
  justify-content: center;
  margin-left: 40px;
}
.StoreRegist .SR-leftcontentcontainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.StoreRegist .SR-rightcontentcontainer {
  margin-top: 130px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.StoreRegist .SR-container-11 {
  margin-bottom: 20px;
  display: block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 25px;
  color: #111111;
}
.StoreRegist .SR-frame-550 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-524 {
  margin: 0 28px 30px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-406 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding: 13px 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreRegist .SR-frame-526 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-3 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-512 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 13.5px 6px 13.9px;
  width: 151px;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-529 {
  margin: 0 28px 30px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-5 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-513 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding: 13px 14px;
  box-sizing: border-box;
  width: 450px;
  text-align: left;
  font-size: 15px;
}
.StoreRegist .SR-frame-533 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-7 {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-531 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-515 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 9px;
  padding-left: 14px;
  height: 50px;
  width: 350px;
  box-sizing: border-box;
  text-align: left;
}
.StoreRegist .SR-frame-516 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  height: 50px;
  width: 90px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ffffff;
}
.StoreRegist .SR-frame-5171 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  height: 50px;
  padding-left: 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
  font-size: 15px;
}
.StoreRegist .SR-frame-548 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-sns {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-547 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-407 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 9px;
  padding-left: 14px;
  height: 50px;
  width: 350px;
  font-size: 15px;
  box-sizing: border-box;
  text-align: left;
}
.StoreRegist .SR-frame-537 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  width: 90px;
  height: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ffffff;
}
.StoreRegist .SR-frame-5281 {
  margin-right: 28px;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-5131 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding: 13px 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreRegist .SR-www-booksly-com {
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.StoreRegist .SR-frame-549 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-14 {
  margin: 0 17px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-133 {
  border-radius: 50px;
  border: 1px solid #ff5925;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 4px 5px;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-317 {
  border-radius: 50px;
  background: #ff5925;
  margin-right: 7px;
  display: flex;
  padding: 3px 12.6px 3px 12px;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-318 {
  border-radius: 50px;
  background: #d9d9d9;
  display: flex;
  padding: 3px 10.8px 3px 10px;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-574 {
  display: flex;
  flex-direction: column;
  width: 450px;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-572 {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-571 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-17 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-container-18 {
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.StoreRegist .SR-frame-560 {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-5501 {
  margin-bottom: 13px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.StoreRegist .SR-container-55 {
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-559 {
  display: flex;
  flex-direction: row;
  width: 247px;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-5121 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 14px 6px 14.1px;
  width: 120px;
  box-sizing: border-box;
}
.StoreRegist .SR-container-56 {
  margin-right: 9px;
  width: 65.9px;
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreRegist .SR-frame-514 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 14px 6px 14.1px;
  width: 120px;
  box-sizing: border-box;
}
.StoreRegist .SR-container-64 {
  margin-right: 9px;
  width: 65.9px;
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreRegist .SR-frame-567 {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-57 {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-566 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-4071 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-bottom: 9px;
  padding: 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreRegist .SR-container-58 {
  width: 100%;
  height: 150px;
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 15px;
  /*color: #adadad;*/
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-109 {
  margin: 0 0.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-59 {
  margin: 2.5px 5.6px 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreRegist .SR-container-60 {
  margin-right: 5.8px;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}
.StoreRegist .SR-container-61 {
  margin: 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreRegist .SR-frame-573 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-container-62 {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreRegist .SR-frame-568 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  position: relative;
  align-self: flex-start;
  width: 150px;
  height: 150px;
}
.StoreRegist .SR-vector-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 30px;
  height: 30px;
}
.StoreRegist .SR-frame-536 {
  justify-content: flex-end;
  margin: 50px 55px 100px 72px;
  padding-right: 55px;
  display: flex;
  width: 1400px;
}
.StoreRegist .SR-frame-StoreRegistFinButton {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  cursor: pointer;
  color: #FFFFFF;
}
.StoreRegist .SR-time-space {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-254 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: fit-content;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-251 {
  border: 1px solid #FF5925;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.StoreRegist .SR-container-4 {
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
  color: #FF5925;
  border: 0;
  height: 28px;
}
.StoreRegist .SR-frame-253 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreRegist .SR-frame-249 {
  border: 1px solid #FF5925;
  padding-left: 14px;
  background: #ffffff;
  margin-right: 5px;
  display: flex;
  box-sizing: border-box;
  width: 65px;
  height: 30px;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreRegist .SR-container-6 {
  margin: 3.5px 5px 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreRegist .SR-frame-250 {
  border: 1px solid #FF5925;
  padding-left: 14px;
  background: #FFFFFF;
  display: flex;
  box-sizing: border-box;
  width: 65px;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.StoreRegist .SR-frame-319 {
  border: 1px solid #ff5925;
  background: #ffffff;
  display: flex;
  box-sizing: border-box;
}
.StoreRegist .SR-container-8 {
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
  color: #FF5925;
  border: 0;
}
