.StoreOwnerMemRegist {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  background: #fdf8f3;
}
.StoreOwnerMemRegistBack {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.StoreOwnerMemRegist .SOMRcontainer {
  display: flex;
  /*flex: 1;*/
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: #fdf8f3;
  flex-direction: column;
  width: 1440px;
}
.StoreOwnerMemRegist .SOMRallcontentcontainer {
  display: flex;
  flex-direction: row;
  /*width: 80%;*/
  justify-content: space-between;
}
.StoreOwnerMemRegist .SOMRleftcontentcontainer {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  /*width: 48%;*/
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRrightcontentcontainer {
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  /*width: 48%;*/
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRIdMaking_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-510 {
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRline-5 {
  background: #ff5925;
  margin-bottom: 3px;
  width: 100px;
  height: 5px;
}
.StoreOwnerMemRegist .SOMRframe-10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRCustomer {
  margin-right: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  white-space: nowrap;
}
.StoreOwnerMemRegist .SOMRStoreOwner {
  margin-left: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  white-space: nowrap;
}
.StoreOwnerMemRegist .SOMRframe-77 {
  margin-bottom: 148.5px;
  display: flex;
  width: 410px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-ThisPageButton {
  border: none;
  background: none;
  cursor: pointer;
}
.StoreOwnerMemRegist .SOMRframe-406 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  justify-content: center;
  padding: 13px 0.4px 13px 0;
  width: 420px;
  height: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-3 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
.StoreOwnerMemRegist .SOMRframe-109 {
  margin-right: 1.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-4 {
  margin-top: 3.5px;
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerMemRegist .SOMRframe-StoreOwnerLoginButton {
  border: none;
  background: none;
  cursor: pointer;
}
.StoreOwnerMemRegist .SOMRcontainer-5 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerMemRegist .SOMRframe-18 {
  margin: 0 28px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-18 {
  margin: 0 326px 50px 0;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 25px;
  color: #111111;
}
.StoreOwnerMemRegist .SOMRframe-535 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-524 {
  margin: 0 28px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-17 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .SOMR-id-button {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-4061 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 10px;
  font-size: 15px;
  padding-left: 14px;
  height: 50px;
  width: 350px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .SOMR-idbutton {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90px;
  box-sizing: border-box;
  color: #FFFFFF;
}
.StoreOwnerMemRegist .SOMRframe-526 {
  margin: 0 28px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-19 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .SOMRframe-512 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding-left: 14px;
  width: 450px;
  height: 50px;
  box-sizing: border-box;
  text-align: left;
  font-size: 15px;
}
.StoreOwnerMemRegist .SOMRframe-529 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-20 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .SOMRframe-528 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-513 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 10px;
  padding: 13px 14px;
  width: 350px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .SOMRframe-514 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  width: 90px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-533 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-21 {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .SOMRframe-531 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-532 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRframe-534 {
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .SOMRcontainer-22 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .SOMRframe-519 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  align-items: center;
  padding-left: 14px;
  height: 50px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .SOMRbookslyemail-com {
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .SOMRregistBox {
  width: 1440px;
  /*justify-content: flex-start;*/
  /*align-items: flex-start;*/
  /*align-self: flex-end;*/
}
.StoreOwnerMemRegist .SOMRframe-520 {
  justify-content: flex-end;
  margin: 50px 55px 0 72px;
  padding-right: 55px;
  display: flex;
  width: 1400px;

}
.StoreOwnerMemRegist .SOMRframe-StoreRegistButton {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  cursor: pointer;
  color: #FFFFFF;
}
