.StoreOwnerMemRegist {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #ffffff;
}
.StoreOwnerMemRegistBack {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .StoreOwnerMemRegistContainer_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.StoreOwnerMemRegist .IdMaking_Box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .frame-510 {
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 174px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .line-5 {
  background: #ff5925;
  margin-bottom: 3px;
  width: 100px;
  height: 5px;
}
.StoreOwnerMemRegist .frame-10 {
  margin: 0 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .Customer {
  margin-right: 30px;
  margin-left: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.StoreOwnerMemRegist .StoreOwner {
  margin-left: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.StoreOwnerMemRegist .frame-77 {
  margin-bottom: 148.5px;
  display: flex;
  width: 410px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .frame-406 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  justify-content: center;
  padding: 13px 0.4px 13px 0;
  width: 420px;
  height: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-3 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
.StoreOwnerMemRegist .frame-109 {
  margin-right: 1.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-4 {
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerMemRegist .container-5 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerMemRegist .StoreOwnerMemRegistContainer_2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.StoreOwnerMemRegist .frame-18 {
  margin: 0 28px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-18 {
  margin: 0 326px 50px 0;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  color: #111111;
}
.StoreOwnerMemRegist .frame-535 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .frame-524 {
  margin: 0 28px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-17 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .frame-4061 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding: 13px 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .container-6 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .frame-526 {
  margin: 0 28px 25px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-19 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .frame-512 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding: 13px 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .container-7 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .frame-529 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-20 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .frame-528 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .frame-513 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 10px;
  padding: 13px 14px;
  width: 350px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .container-8 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .frame-514 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  width: 90px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-9 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
.StoreOwnerMemRegist .frame-533 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-21 {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .frame-531 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .frame-515 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 9px;
  padding: 13px 14px;
  width: 350px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .container-10 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .frame-516 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  width: 90px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-11 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
.StoreOwnerMemRegist .frame-532 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .frame-517 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 9px;
  padding: 13px 14px;
  width: 350px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .container-12 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .frame-518 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  width: 90px;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-13 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #ff5925;
}
.StoreOwnerMemRegist .frame-534 {
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-22 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.StoreOwnerMemRegist .frame-519 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  padding: 13px 14px;
  width: 450px;
  box-sizing: border-box;
  text-align: left;
}
.StoreOwnerMemRegist .bookslyemail-com {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #adadad;
}
.StoreOwnerMemRegist .frame-520 {
  margin-top: 50px;
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  padding: 13px 13.8px;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerMemRegist .container-14 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
