.StoreOwnerLogInPage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #fdf8f3;
}
.StoreOwnerLogInPageBack {
  display: flex;
  justify-content: center;
  align-items: center;
}
.StoreOwnerLogInPage .StoreOwnerLogInPageContainer {
  margin-left: 155px;
  margin-right: 155px;
  background: #fdf8f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .LogIn_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .frame-508 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .frame-509 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .frame-510 {
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .frame-10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .Customer {
  margin-right: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  white-space: nowrap;
}
.StoreOwnerLogInPage .StoreOwner {
  margin-left: 30px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  white-space: nowrap;
}
.StoreOwnerLogInPage .line-5 {
  background: #ff5925;
  margin-bottom: 3px;
  width: 100px;
  height: 5px;
}
.StoreOwnerLogInPage .frame-77 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .frame-56 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 203.5px;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .container-3 {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerLogInPage .container-4 {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerLogInPage .rectangle-16 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
.StoreOwnerLogInPage .rectangle-17 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
.StoreOwnerLogInPage .frame-406 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-bottom: 16px;
  text-align: left;
  padding: 13px 14px;
  width: 420px;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .container-5 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.StoreOwnerLogInPage .frame-407 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ffffff;
  margin-bottom: 16px;
  text-align: left;
  padding: 13px 14px;
  width: 420px;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .container-6 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.StoreOwnerLogInPage .frame-408 {
  border-radius: 5px;
  border: 1px solid #ff5925;
  background: #ff5925;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  padding: 13px 0;
  width: 420px;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .container-7 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 300;
  font-size: 15px;
  color: #fdf8f3;
}
.StoreOwnerLogInPage .frame-StoreOwnerMemRegistButton {
  border: none;
  background: none;
  cursor: pointer;
}
.StoreOwnerLogInPage .frame-109 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .container-8 {
  margin: 1px 5.2px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerLogInPage .container-9 {
  margin-top: 3.5px;
  margin-right: 5.9px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.StoreOwnerLogInPage .container-10 {
  margin-top: 3.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.StoreOwnerLogInPage .container-11 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.StoreOwnerLogInPage .container {
  margin-left: 133px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.StoreOwnerLogInPage .container-12 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  color: #000000;
}
.StoreOwnerLogInPage .rectangle-7 {
  width: 710px;
  height: 955px;
}
