.MyHomeMain {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FFFFFF;
}
.MyHomeMainBack {
    display: flex;
    justify-content: center;
}
.MyHomeMain .containerALL {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.MyHomeMain .MyHomeMaincontainer {
    display: flex;
    background: #FDF8F3;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
}
.MyHomeMain .ContentBox {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    width: 620px;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeMain .frame-411 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeMain .containerPhone {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
}
.MyHomeMain .at-num {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeMain .frame-408 {
    margin-bottom: 5px;
    /*align-items: flex-start;*/
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeMain .frame-403 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    margin-right: 16px;
    padding: 10px 14px;
    width: 300px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 15px;
}
.MyHomeMain .frame-404 {
    border-radius: 5px;
    background: #FF5925;
    display: flex;
    width: 104px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.MyHomeMain .container-2 {
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.MyHomeMain .frame-409 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeMain .frame-405 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    display: flex;
    width: 104px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.MyHomeMain .container-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.MyHomeMain .frame-417 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeMain .container-5 {
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 18px;
    color: #111111;
}
.MyHomeMain .frame-406 {
    border-radius: 5px;
    border: 1px solid #FF5925;
    background: #FFFFFF;
    padding: 10px 14px;
    width: 420px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 15px;
}
.MyHomeMain .frame-420 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    box-sizing: border-box;
}
.MyHomeMain .frame-4181 {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FDD2C2;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
}
.MyHomeMain .container-7 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
}
.MyHomeMain .frame-419 {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FDD2C2;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
}
.MyHomeMain .container-8 {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
}