.back {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: fit-content;
  background: #ffffff;
  flex-shrink: 0;
}
.LoginAfterTodayReservNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginAfterTodayReservNav .header-inner {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  margin-bottom: 35px;
  display: flex;
  padding: 0 40px 0 40px;
  width: 1440px;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .header-inner-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 570px;
  height: fit-content;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .logo-goto-home {
  margin-top: 5px;
  display: flex;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .booksly-logo {
  border-radius: 23px;
  background: url("../../assets/booksly_logo.png") 50% / cover no-repeat;
  width: 100px;
  height: 50px;
}
.LoginAfterTodayReservNav .header-buttons {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .currentNav {
  background: #ffffff;
  display: flex;
  padding: 21px 35px 10px 35px;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .currentPageBar {
  border-bottom: 4px solid #ff5925;
  display: flex;
}
.LoginAfterTodayReservNav .nav-box {
  background: #ffffff;
  display: flex;
  padding: 21px 35px 21px 35px;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .PageName {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  color: #000000;
}
.LoginAfterTodayReservNav .search-border {
  border-radius: 30px;
  border: 2px solid #ff5925;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px 13px;
  width: 350px;
  height: fit-content;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .icon-search {
  display: flex;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .vector {
  width: 30px;
  height: 30px;
}
.LoginAfterTodayReservNav .input-search {
  margin-left: 70px;
  text-align: center;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .search {
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  color: #777777;
}
.LoginAfterTodayReservNav .header-inner-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  height: 25px;
  margin-top: 18px;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .headerRightDiv {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .icon {
  margin: 1px 10px 1px 0;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .home {
  width: 20px;
  height: 20px;
}
.LoginAfterTodayReservNav .go-mypage {
  display: flex;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .my-page {
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.LoginAfterTodayReservNav .alarmIcon {
  background: url("../../assets/alarm_button.png") 50% / cover no-repeat;
  width: 22px;
  height: 22px;
}
.LoginAfterTodayReservNav .user-id {
  display: flex;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .userId {
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.LoginAfterTodayReservNav .log-out-but {
  display: flex;
  box-sizing: border-box;
}
.LoginAfterTodayReservNav .logout {
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
