.MyHomeLeftNavi {
    position: relative;
    display: flex;
    /*width: 1440px;*/
}
.MyHomeLeftNavi .MyHomeLeftNavicpsk-navi {
    background: #FFFFFF;
    display: flex;
    width: fit-content;
    height: 150vh;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavicontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavicpnavi-logo {
    background: #FFFFFF;
    position: relative;
    padding: 25px 20px;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavibooksly-logo {
    border-radius: 23px;
    background: url('../../assets/booksly_logo.png') 50% / cover no-repeat;
    width: 100px;
    height: 50px;
}
.MyHomeLeftNavi .MyHomeLeftNavilogoLine {
    background: #D9D9D9;
    position: absolute;
    left: 15px;
    top: 99px;
    right: 20px;
    height: 1px;
    width: 220px;
}
.MyHomeLeftNavi .MyHomeLeftNavicpsk-navi-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavicpnavi-bar {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    width: 250px;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavicpnaviLineTop {
    background: #D9D9D9;
    width: 220px;
    height: 1px;
}
.MyHomeLeftNavi .MyHomeLeftNavicpnaviLineBottom {
    background: #D9D9D9;
    margin-top: 12px;
    width: 220px;
    height: 1px;
}
.MyHomeLeftNavi .MyHomeLeftNavicp-navi-search-name {
    margin-left: 5px;
    margin-top: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavisearch {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.MyHomeLeftNavi .MyHomeLeftNavicpnaviName {
    position: relative;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeLeftNavi .MyHomeLeftNavicp-navi-allow {
    margin-left: 20px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeLeftNavi .MyHomeLeftNavipolygon {
    margin-right: 10px;
    width: 18px;
    height: 20px;
}
.MyHomeLeftNavi .MyHomeLeftNavinaviBottomLine {
    background: #D3D3D3;
    margin: 0 15px;
    width: 220px;
    height: 1px;
}
.MyHomeLeftNavi .MyHomeLeftNaviline {
    background: #D6B585;
    position: absolute;
    margin-left: 250px;
    top:0;
    width: 2px;
    height: 100vh;
}