.MyHomeAllReserv {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FFFFFF;
}
.MyHomeAllReservBack {
    display: flex;
    justify-content: center;
}
.MyHomeAllReserv .containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 100px;*/
    box-sizing: border-box;
}
.MyHomeAllReserv .MyHomeAllReservContainer {
    margin-top: 2px;
    display: flex;
    background: #FDF8F3;
    justify-content: center;
    width: 1190px;
    height: fit-content;
    padding-top: 50px;
}
.MyHomeAllReserv .Content {
    height: fit-content;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.MyHomeAllReserv .sortingBox {
    margin: 0 5px 13px 5px;
    display: flex;
    flex-direction: row;
    /*align-self: flex-start;*/
    justify-content: flex-end;
    width: 930px;
    box-sizing: border-box;
}
.MyHomeAllReserv .sortBox {
    width: 170px;
}
.MyHomeAllReserv .reservList {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .currentReservBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeInfoFrame {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeProfile {
    border-radius: 30px;
    background: url('../../assets/StoreProfile.png') 50% / cover no-repeat;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}
.MyHomeAllReserv .storeInfoTime {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeInfoList {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeInfo {
    margin-right: 15px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .storePartition {
    margin-right: 15px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .regularSign {
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .reservInfo {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reservDate {
    margin-right: 10px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeAllReserv .reservTime {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeAllReserv .reservFrame {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .EmpBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .EmpNameTime {
    margin-bottom: 10px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeAllReserv .EmpName {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    margin-right: 5px;
}
.MyHomeAllReserv .EmpTime {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .reservBoxLine {
    background: #D0D0D0;
    width: 770px;
    height: 2px;
}
.MyHomeAllReserv .reservContent {
    margin-bottom: 15px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeAllReserv .reservMenuList {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .cancelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeAllReserv .cancelReservBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .cancelPartition {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin: 0 30px 0 30px;
}
.MyHomeAllReserv .cancelReserv {
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .cancelLine {
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
    text-decoration-line: line-through;
}
.MyHomeAllReserv .cancelDelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeAllReserv .review {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reviewPartition {
    margin: 0 30px 0 30px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .reviewScore {
    margin-top: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .reviewBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reviewLine {
    background: #D0D0D0;
    margin-bottom: 8px;
    width: 770px;
    height: 1px;
}
.MyHomeAllReserv .rvBoxIcon {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 160px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.MyHomeAllReserv .rvBox {
    display: flex;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}
.MyHomeAllReserv .rvDel {
    font-size: 13px;
    color: #D0D0D0;
    margin-left: 20px;
    margin-bottom: 2px;
}
.MyHomeAllReserv .reviewContent {
    display: flex;
    flex-direction: row;
    width: 770px;
    box-sizing: border-box;
    padding-left: 5px;
}
.MyHomeAllReserv .rvContent {
    width: 550px;
    font-size: 15px;
    margin-right: 20px;
}
.MyHomeAllReserv .rvPhoto {
    background: url('../../assets/reviewPhoto.png') 50% / cover no-repeat;
    width: 200px;
    height: 150px;
}
.MyHomeAllReserv .DelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeAllReserv .pre-writing-review {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reviewCreateButton {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}