.MyHomeAllReserv {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    height: fit-content;
    background: #FFFFFF;
}
.MyHomeAllReservBack {
    display: flex;
    justify-content: center;
}
.MyHomeAllReserv .containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 100px;*/
    box-sizing: border-box;
}
.MyHomeAllReserv .MyHomeAllReservContainer {
    margin-top: 2px;
    display: flex;
    background: #FDF8F3;
    justify-content: center;
    width: 1190px;
    height: fit-content;
    padding-top: 50px;
}
.MyHomeAllReserv .Content {
    height: fit-content;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
/*.MyHomeAllReserv .container {*/
/*    border-radius: 5px;*/
/*    margin: 0 105px;*/
/*    display: flex;*/
/*    width: 170px;*/
/*    box-sizing: border-box;*/
/*}*/
.MyHomeAllReserv .sortingBox {
    margin: 0 5px 13px 5px;
    display: flex;
    flex-direction: row;
    /*align-self: flex-start;*/
    justify-content: flex-end;
    width: 930px;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-sortBox {
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 27px 19px 25px;
    width: 170px;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .sortName {
    display: flex;
    justify-content: flex-start;
    width: 99px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .sortButton {
    width: 20px;
    height: 20px;
    background: url('../../assets/sortButton.png') 50% / cover no-repeat;
}
.MyHomeAllReserv .reservList {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .currentReservBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeInfoFrame {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeProfile {
    border-radius: 30px;
    background: url('../../assets/StoreProfile.png') 50% / cover no-repeat;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}
.MyHomeAllReserv .storeInfoTime {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeInfoList {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .storeInfo {
    margin-right: 15px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .storePartition {
    margin-right: 15px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .regularSign {
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .reservInfo {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reservDate {
    margin-right: 10px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeAllReserv .reservTime {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeAllReserv .reservFrame {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .EmpBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .EmpNameTime {
    margin-bottom: 10px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeAllReserv .EmpName {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    margin-right: 5px;
}
.MyHomeAllReserv .EmpTime {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .reservBoxLine {
    background: #D0D0D0;
    width: 770px;
    height: 2px;
}
.MyHomeAllReserv .reservContent {
    margin-bottom: 15px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeAllReserv .reservMenuList {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .cancelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeAllReserv .cancelReservBox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .cancelPartition {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin: 0 30px 0 30px;
}
.MyHomeAllReserv .cancelReserv {
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .cancelLine {
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
    text-decoration-line: line-through;
}
.MyHomeAllReserv .cancelDelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeAllReserv .review {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reviewPartition {
    margin: 0 30px 0 30px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .reviewScore {
    margin-top: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .reviewBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reviewLine {
    background: #D0D0D0;
    margin-bottom: 8px;
    width: 770px;
    height: 1px;
}
.MyHomeAllReserv .rvBoxIcon {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    box-sizing: border-box;
}
.MyHomeAllReserv .rvBox {
    display: flex;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}
.MyHomeAllReserv .polygon {
    margin: 4px 0;
    background: url('../../assets/polygon.png') 50% / cover no-repeat;
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
}
.MyHomeAllReserv .DelButton {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}

.MyHomeAllReserv .pre-writing-review {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .reviewCreateButton {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}

.MyHomeAllReserv .frame-453 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 1481px;*/
    box-sizing: border-box;
}
.MyHomeAllReserv .rectangle-44 {
    background: rgba(255, 89, 37, 0.1);
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 1px;
    height: 58px;
}
.MyHomeAllReserv .component-29 {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}

.MyHomeAllReserv .container-1 {
    margin: 0 66.7px 16.5px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-5 {
    margin: 0 5px 13.2px 5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.MyHomeAllReserv .container-6 {
    margin: 0 66.7px 16.5px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-7 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-8 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21.5px 30.8px 21.5px 0;
    width: 1140px;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-9 {
    margin: 0 5px 13.2px 5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .cpnavi-all {
    border: 1px solid #FFFFFF;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.MyHomeAllReserv .cpnavi-bar-2 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    padding: 0.5px 20px 0 20px;
    width: 300px;
    box-sizing: border-box;
}
.MyHomeAllReserv .line-4 {
    background: #D9D9D9;
    margin-bottom: 16.5px;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .container-1 {
    position: relative;
    margin: 3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .line-3 {
    background: #D9D9D9;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .polygon-1 {
    margin-right: 13px;
    width: 27px;
    height: 25px;
}
.MyHomeAllReserv .line-35 {
    background: #D9D9D9;
    position: absolute;
    left: 20px;
    top: 0px;
    right: 20px;
    height: 1px;
}
.MyHomeAllReserv .cpnavi-bar {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 1px 20px 0 20px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .line-36 {
    background: #D9D9D9;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .line-37 {
    background: #D9D9D9;
    margin-bottom: 11px;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .my-1 {
    margin: 7px 0 7.8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .vector {
    margin-right: 7px;
    width: 33px;
    height: 33.8px;
}
.MyHomeAllReserv .cpnavi-bar-21 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5px 20px 0 20px;
    width: 300px;
    box-sizing: border-box;
}
.MyHomeAllReserv .line-41 {
    background: #D9D9D9;
    margin-bottom: 16.5px;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .container-2 {
    margin: 3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .line-31 {
    background: #D9D9D9;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .polygon-11 {
    margin-right: 13px;
    width: 27px;
    height: 25px;
}
.MyHomeAllReserv .cpnavi-bar-1 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 1px 20px 0 20px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .line-361 {
    background: #D9D9D9;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .line-371 {
    background: #D9D9D9;
    margin-bottom: 11px;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .my-2 {
    margin: 7px 0 7.8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .vector-1 {
    margin-right: 7px;
    width: 33px;
    height: 33.8px;
}
.MyHomeAllReserv .cpnavi-bar-2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 1px 20px 0 20px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .line-362 {
    background: #D9D9D9;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .line-372 {
    background: #D9D9D9;
    margin-bottom: 11px;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .my-3 {
    margin: 7px 0 7.8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .vector-2 {
    margin-right: 7px;
    width: 33px;
    height: 33.8px;
}
.MyHomeAllReserv .cpnavi-logo {
    background: #FFFFFF;
    position: relative;
    padding: 20px 19px;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
}
.MyHomeAllReserv .image-13 {
    border-radius: 23px;
    /*background: url('assets/images/Image13.png') 50% / cover no-repeat;*/
    width: 119px;
    height: 60px;
}
.MyHomeAllReserv .rectangle-244 {
    background: #D9D9D9;
    margin: 0 20px;
    width: 260px;
    height: 1px;
}
.MyHomeAllReserv .goto-mypage {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.MyHomeAllReserv .icon-home {
    margin: 1px 10px 1px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.MyHomeAllReserv .vector-3 {
    width: 20px;
    height: 20px;
}
.MyHomeAllReserv .go-mypage {
    display: flex;
    box-sizing: border-box;
}
.MyHomeAllReserv .my-page {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.MyHomeAllReserv .notice-todo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.MyHomeAllReserv .icon-alect {
    margin: 1px 10px 1px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-3 {
    /*background: url('assets/images/Image9.png') 50% / cover no-repeat;*/
    width: 20px;
    height: 20px;
}
.MyHomeAllReserv .user-id {
    display: flex;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-4 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.MyHomeAllReserv .log-out-but {
    display: flex;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-5 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.MyHomeAllReserv .frame-3 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 38px 0 42px 82px;
    width: 1140px;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-6 {
    border-radius: 44px;
    /*background: url('assets/images/Image2.jpeg') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);*/
    margin: 1px 45px 1px 0;
    width: 88px;
    height: 88px;
}
.MyHomeAllReserv .container-7 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-8 {
    margin-bottom: 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.MyHomeAllReserv .container-9 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-10 {
    margin-right: 10.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .container-11 {
    margin-right: 10.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .container-12 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .container-13 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.MyHomeAllReserv .frame-72 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-50 {
    border-radius: 30px;
    /*background: url('assets/images/Image4.png') 50% / cover no-repeat;*/
    margin-right: 19px;
    width: 60px;
    height: 60px;
}
.MyHomeAllReserv .container-51 {
    margin: 2.5px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.MyHomeAllReserv .frame-223 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-52 {
    margin-right: 15.2px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .container-53 {
    margin: 1px 15px 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .container-54 {
    margin-right: 15.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .container-55 {
    margin: 1px 15px 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .container-56 {
    margin-right: 15.7px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .container-57 {
    margin: 1px 15px 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .container-58 {
    margin: 0.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.MyHomeAllReserv .container-59 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-60 {
    margin-right: 10.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeAllReserv .container-61 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}
.MyHomeAllReserv .frame-192 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    padding: 20px 41px;
    width: fit-content;
    box-sizing: border-box;
}
.MyHomeAllReserv .frame-82 {
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    width: 768px;
    box-sizing: border-box;
}
.MyHomeAllReserv .frame-272 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 308.2px;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-62 {
    margin: 0.5px 9px 0.5px 0;
    display: inline-block;
    width: 208px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .container-63 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.MyHomeAllReserv .line-114 {
    background: #D0D0D0;
    width: 768px;
    height: 2px;
}
.MyHomeAllReserv .frame-92 {
    margin-bottom: 15px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
}
.MyHomeAllReserv .container-65 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.MyHomeAllReserv .frame-2912 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    box-sizing: border-box;
}
.MyHomeAllReserv .line-115 {
    background: #D0D0D0;
    margin-bottom: 8px;
    width: 768px;
    height: 2px;
}
.MyHomeAllReserv .container-66 {
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}
.MyHomeAllReserv .frame-4551 {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    box-sizing: border-box;
}
.MyHomeAllReserv .frame-1011 {
    display: flex;
    box-sizing: border-box;
}
.MyHomeAllReserv .review-2 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}
.MyHomeAllReserv .polygon-13 {
    margin: 4px 0;
    width: 20px;
    height: 20px;
}